p {
    font-family: Arial;
}

h1 {
    color: maroon;
}


/*selector chaining it will select all h2 tag with class destination */

h2.destination {
    font-family: cursive;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

.cursive {
    font-family: cursive;
}

.capitalize {
    text-transform: capitalize;
}

.publish-time {
    color: gray;
}


/* nested elements it will select all h5 tag nested wihtin class description*/

.description h5 {
    color: teal !important;
    /*now  !important will override a more specific selector*/
}


/*it has lower preference than nested selector */

h5,
p {
    font-family: Georgia;
}